footer {
  width: 100%;
  min-height: 310px;
  background-color: #35367d;

  display: flex;
  align-items: center;

  color: #cccddf;

  .footer-nav {
    display: flex;
    justify-content: space-between;

    .footer-sobre {
      width: 284px;
    }

    nav {
      display: flex;
      flex-direction: column;

      width: fit-content;
      gap: 20px;

      a {
        color: #cccddf;
        font-size: 14px;
        text-decoration: none;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    img {
      width: 164px;
    }
  }
}
