header {
  width: 100%;
  position: fixed;

  background-color: #fff;

  padding: 1.5rem 0 1.5rem;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    img {
      width: 164px;
      fill: rgb(0, 68, 0);
    }

    nav {
      ul {
        display: flex;
        list-style: none;
        gap: 3rem;
      }
    }

    .button {
      padding: 0.5rem 1rem;
      background-color: rgb(254, 68, 0);
      border-radius: 0.3rem;

      font-size: 1rem;
      color: #fff;
      border: none;

      cursor: pointer;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
