header {
  width: 100%;
  position: fixed;

  background-color: #fff;

  padding: 1.5rem 0 1.5rem;

  border-bottom: 1px solid #e6e6e6;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    img {
      width: 132px;
    }

    nav {
      ul {
        display: flex;
        list-style: none;
        gap: 3rem;
      }
    }

    .login {
      display: flex;
      align-items: center;

      .button {
        padding: 0.5rem 1rem;
        background-color: transparent;
        display: flex;
        align-items: center;

        font-size: 32px;
        color: rgb(254, 68, 0);
        font-weight: 600;
        border: none;

        cursor: pointer;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}
