.page-login-overlay {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-login-overlay .page-login {
  width: 90%;
  max-width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px 0px;
}
.page-login-overlay .page-login h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  color: #fe4400;
}
.page-login-overlay .page-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 90%;
  max-width: 475px;
}
.page-login-overlay .page-login form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.page-login-overlay .page-login form .input-group label {
  color: #fe4400;
  font-weight: bold;
}
.page-login-overlay .page-login form .input-group input[type=text],
.page-login-overlay .page-login form .input-group input[type=password],
.page-login-overlay .page-login form .input-group input[type=email] {
  width: 100%;
  height: 40px;
  border: none;
  border: 1px solid #f5f5f5;
  color: #fe4400;
  background-color: #fff;
  padding-left: 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  box-shadow: #e0e0e0 0px 3px 12px;
  transition: filter 0.2s;
}
.page-login-overlay .page-login form .input-group input[type=text]:hover,
.page-login-overlay .page-login form .input-group input[type=password]:hover,
.page-login-overlay .page-login form .input-group input[type=email]:hover {
  filter: brightness(0.9);
}
.page-login-overlay .page-login form .input-group input[type=text]:focus,
.page-login-overlay .page-login form .input-group input[type=password]:focus,
.page-login-overlay .page-login form .input-group input[type=email]:focus {
  outline: none;
  filter: brightness(0.9);
}
.page-login-overlay .page-login form .input-group .input-group-email {
  display: flex;
}
.page-login-overlay .page-login form .input-group .input-group-email input {
  border-radius: 5px 0px 0px 5px;
}
.page-login-overlay .page-login form .input-group .input-group-email span {
  height: 40px;
  display: flex;
  align-items: center;
  width: fit-content;
  border: 1px solid #fe4400;
  background-color: #fe4400;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 0px 5px 5px 0px;
  font-size: 1rem;
}
.page-login-overlay .page-login form .button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #fe4400;
  border-radius: 0.3rem;
  margin-top: 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: filter 0.2s;
}
.page-login-overlay .page-login form .button:hover {
  filter: brightness(0.8);
}
.page-login-overlay .page-login p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.page-login-overlay .page-login p a {
  color: #36357e;
  font-weight: bold;
}
.page-login-overlay .page-login p a:hover {
  border-bottom: 1px solid #36357e;
}
.page-login-overlay .page-login .button-voltar {
  align-self: flex-start;
  background: #fe4400;
  padding: 5px 10px;
  margin-left: 35px;
  border-radius: 5px;
  color: #fff;
  border: unset;
  cursor: pointer;
}

/*# sourceMappingURL=login.css.map */
